<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1> 
<a href="/campgrounds/new">New Campground</a>
<ul>
    <% for (let campground of campgrounds) { %>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.location %> - <%= campground.title %></a> </li>
    <% } %>
</ul>