body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("https://images.unsplash.com/photo-1455763916899-e8b50eca9967?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    margin-left: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: rgba(255, 255, 255, 0.8);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.btn-secondary {
    color: #333;
    text-shadow: none;
}

.btn-secondary:hover {
    color: #222;
    text-shadow: none;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}
